table.data
{
  border: 2px solid black;
  margin-top: 30px;
  min-width: 100%;
  border-collapse: collapse;
}

table.data td
{
  padding: 0px 5px;
}

table.data th
{
  width: 200px;
  text-align: left;
  font-weight: normal;
  color: #ffffff;
  border-right: 1px solid black;
  padding: 2px 5px;
  background: #4f81bd;
}

table.data tbody tr:nth-child(odd) td {
  background: #ffffff;
}

table.data tbody tr:nth-child(even) td {
  background: #dbe5f0;
}
